@import "../../global.scss";

//these are for our headers for Portfolio
li {
    font-style: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    //Delete scroll bar:
    scrollbar-width: none; // this is for firefox

    // This so for all other browsers
    &::-webkit-scrollbar{
        display:none;
    }

    @include mobile {
        margin-right: 20px;
    }

    &.active {
        background-color: $mainColor;
        color: white;
    }
}